<!doctype html>
<html>

  <head>
    <title>The World of Trump Cats </title>
    <link rel = "stylesheet" type = "text/css" href="{{ url_for("static", filename = "css/styles.css") }}">

  </head>

  <body>
    <p>Hello kittycat!</p>

<a href="https://twitter.com/intent/tweet?button_hashtag=trump&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #trumpcats </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>

          </form>
      </div>
</html>
